html,
body,
#root,
#root > div {
  height: 100%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
}

#header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  border-bottom: 2px solid rgb(240, 240, 240);
}
#body {
  max-width: 1024px;
  flex-grow: 1;
  width: 100%;
  margin: 0 auto;
}
#footer {
  height: 200px;
}
