#body {
  margin: 0 auto;
  padding: 0 auto;
  width: 700px;
  justify-content: center;
}

#loginSpace {
  width: 400px;
  background-color: aqua;
  margin: 0 auto;
}
#loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#API {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
